{% extends 'base.html' %}

{% block title %} | Accessories {% endblock %}
{% block content %}
{%load static%}
{% load humanize %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Car Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Accessories</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->


<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Car <span>Accessories</span></h1>
            <p>Best Quality Products! </p>
        </div>
    </div>
</div>
<!-- Rent car end -->
  <div class="container">
		<div class="row">
			{% for accessorie in accessories %}

				<div class="col-lg-6">
					<br>
					<div class="card card-body">
						<h4>{{accessorie.title}}</h4>
						   <img class="d-block w-100" src="{{accessorie.accessories_photo.url}}" alt="accessorie"  style="min-height: 262px; max-height: 262px">
						<hr>
						#<p>{{accessorie.description}}</p>
						<hr>
						<h4>${{accessorie.price}}</h4>
						<hr>
                        <a target="_blank" class="btn btn-sm btn-warning" href="{% url 'checkout' accessorie.id %}">Buy Now</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{%url 'contact'%}" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->
{% endblock %}